---
layout: default
main_title: Milter Zipcrypt
sub_title: 添付ファイルをzipで暗号化
---

<p>
Milter ZipcryptはMilterプロトコルを利用した、添付ファイルの暗号化ツールです。
</p>
<p>
メールに添付された複数のファイルをひとつのzipファイルに変換し、さらに自動生成されたパスワードで暗号化します。
自動生成されたパスワードはメール送信者に別メールで送信されます。
</p>

<p>
メールに添付ファイルがついていない場合には、Milter Zipcryptは何も行いません。
</p>
<p>
<img src="milter-zipcrypt/images/milter-zipcrypt.png" alt="Milter Zipcrypt概要" class="eye-catcher">
</p>

<h2 id="license">ライセンス</h2>

<p>
Milter Zipcryptはフリーソフトウェアです。あなたは、 Free Software Foundationが公表したGNU General Public License 3またはそれ以降のバージョンが定める条項に従って本プログラムを再頒布または変更することができます。
</p>

<p>
Milter Zipcryptは有用とは思いますが、頒布にあたっては、市場性及び特定目的適合性についての暗黙の保証を含めて、いかなる保証も行ないません。詳細については GNU General Public License 3をお読みください。
</p>

<h2 id="download">ダウンロード</h2>

<p>
<a href="http://packages.clear-code.com/milter-zipcrypt/sources/milter-zipcrypt-1.0.0.tar.gz">ソースコード</a>
</p>

<h2 id="support">有償サポート・技術支援</h2>

<p>
クリアコードでは有償サポートなどMilter Zipcryptに関連して様々なサービスを展開しています。 詳細についてはinfo@clear-code.comまでお問い合わせください。
</p>

<h2 id="development">開発</h2>

<p>
<a href="http://git.clear-code.com/milter-zipcrypt">gitリポジトリ</a>
</p>
