---
layout: default
main_title: 参加フリーソフトウェアプロジェクト
sub_title:
---

<h2>コミッタ・主宰プロジェクト</h2>

<table><tbody>

<tr><th>プロジェクト名</th><th>プロジェクト概要</th><th>備考</th></tr>

<tr>
<td><a href="http://www.ruby-lang.org">Ruby</a></td>
<td>プログラミング言語</td>
<td>RSSパーサライブラリ</td>
</tr>

<tr>
<td><a href="http://subversion.tigris.org/">Subversion</a></td>
<td>ソフトウェアバージョン管理</td>
<td>Google Summer of Code 2005</td>
</tr>

<tr>
<td><a href="http://ruby-gnome2.sourceforge.jp/">Ruby-GNOME2</a></td>
<td>GNOMEライブラリのRubyバインディング</td>
<td></td>
</tr>

<tr>
<td><a href="http://piro.sakura.ne.jp/xul/xul.html">Mozilla Firefox用アドオン各種</a></td>
<td></td>
<td></td>
</tr>

<tr>
<td><a href="http://kazehakase.sourceforge.jp/">風博士</a></td>
<td>ウェブブラウザ</td>
<td>2004年度IPA未踏ソフトウェア創造事業採択プロジェクト</td>
</tr>

<tr>
<td><a href="http://www.scim-im.org/">SCIM</a></td>
<td>多言語入力フレームワーク</td>
</tr>

<tr>
<td><a href="http://code.google.com/p/uim/">uim</a></td>
<td>多言語入力フレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="http://scim-imengine.sourceforge.jp/">scim-imengines</a></td>
<td>日本語入力</td>
<td></td>
</tr>

<tr>
<td><a href="https://sourceforge.jp/projects/kasumi/">Kasumi</a></td>
<td><a href="http://anthy.sourceforge.jp/">Anthy</a>用個人辞書管理ツール</td>
<td></td>
</tr>

<tr>
<td><a href="http://tomoe.sourceforge.net">Tomoe</a></td>
<td>手書き文字認識</td>
<td></td>
</tr>

<tr>
<td><a href="http://projects.gnome.org/evolution/">Evolution</a></td>
<td>メールソフト・PIM</td>
<td></td>
</tr>

<tr>
<td><a href="http://rubyforge.org/projects/cairo/">rcairo</a></td>
<td>ベクトル画像描画ライブラリCairoのRubyバインディング</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.cozmixng.org/~rwiki/?cmd=view;name=Rabbit">Rabbit</a></td>
<td>プレゼンテーションツール</td>
<td></td>
</tr>

<tr>
<td><a href="http://rubyforge.org/projects/ruby-activeldap/">ActiveLdap</a></td>
<td></td>
<td></td>
</tr>

<tr>
<td><a href="http://rubyforge.org/projects/asl/">ActiveSambaLdap</a></td>
<td></td>
<td></td>
</tr>

<tr>
<td><a href="http://qwik.jp/senna/">Senna</a></td>
<td>組み込み型全文検索エンジン</td>
<td></td>
</tr>

<tr>
<td><a href="http://sourceforge.net/projects/milter-manager/">milter-manager</a></td>
<td></td>
<td></td>
</tr>

<tr>
<td><a href="http://sourceforge.net/projects/cutter/">Cutter</a></td>
<td>C言語用単体テストフレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="http://rubyforge.org/projects/test-unit/">Test::Unit</a></td>
<td>Ruby用単体テストフレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="http://sourceforge.net/projects/pikzie/">Pikzie</a></td>
<td>Python用単体テストフレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.cozmixng.org/~kou/gauche/gaunit">GaUnit</a></td>
<td>SchemeインタプリタGauche用単体テストフレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="https://www.clear-code.com/software/uxu/">UxU</a></td>
<td>JavaScript用単体テストフレームワーク</td>
<td></td>
</tr>

<tr>
<td><a href="http://retrospectiva.org/">Retrospectiva</a></td>
<td>プロジェクト管理ツール</td>
<td></td>
</tr>

<tr>
<td><a href="">RWiki</a></td>
<td>Rubyで書かれたWikiクローン</td>
<td></td>
</tr>

<tr>
<td><a href="https://sourceforge.jp/projects/gsynaptics/">GSynaptics</a></td>
<td>タッチパッド設定用GUI</td>
<td></td>
</tr>
</tbody></table>


<h2>参加実績（パッチ採用・バグ報告等）のあるプロジェクト</h2>
<table><tbody>

<tr><th>プロジェクト名</th><th>プロジェクト概要</th><th>備考</th></tr>

<tr>
<td><a href="http://mozilla.jp/firefox/">Mozilla Firefox</a></td>
<td>ウェブブラウザ</td>
<td></td>
</tr>

<tr>
<td><a href="http://mozilla.jp/thunderbird/">Mozilla Thunderbird</a></td>
<td>メールソフト</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.gnome.org/">GNOME</a></td>
<td>統合デスクトップ環境</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.gtk.org/">GTK+</a></td>
<td>GUIツールキット</td>
<td><a href="http://imime.sourceforge.jp/">imime</a>（Windows用日本語入力モジュール）</td>
</tr>

<tr>
<td><a href="http://trolltech.com/">Qt</a></td>
<td>GUIツールキット</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.gnu.org/software/gnash/">Gnash</a></td>
<td>Flashプレーヤ</td>
<td></td>
</tr>

<tr>
<td><a href="http://poppler.freedesktop.org/">Poppler</a></td>
<td>PDFレンダリングライブラリ</td>
<td></td>
</tr>

<tr>
<td><a href="http://libexif.sourceforge.net/">libexif</a></td>
<td>EXIFライブラリ</td>
<td></td>
</tr>

<tr>
<td><a href="http://sylpheed.sraoss.jp/">Sylpheed</a></td>
<td>メールソフト</td>
<td></td>
</tr>

<tr>
<td><a href="http://oss.oetiker.ch/rrdtool/">RRDTool</a></td>
<td></td>
<td></td>
</tr>

<tr>
<td><a href="http://www.openhpi.org/">OpenHPI</a></td>
<td>ハードウェア監視</td>
<td></td>
</tr>

<tr>
<td><a href="http://www.ubuntu.com/">Ubuntu</a></td>
<td>GNU/Linuxディストリビューション</td>
<td></td>
</tr>

</tbody></table>
