---
layout: default
main_title: 代表取締役交代のお知らせ
sub_title:
type: topic
---

<p>平素は格別のご高配を賜り、厚く御礼申し上げます。</p>

<p>さて、このたび弊社では、これまで以上に弊社の技術を信頼してご活用いただけるようより一層の力をいれていくために、下記の通り役員の変更を行いました。</p>
<p>これを機に、社員一同社業の発展および高度で高品質な技術力の提供に一層努力してまいる所存でございます。</p>
<p>今後とも格別のご支援を賜りますよう、よろしくお願い申し上げます。</p>

<div class="signature">
	<p class="date">2008年8月5日</p>
	<p class="person">株式会社クリアコード<br>代表取締役　須藤　功平</p>
</div>

<div class="following">
	<p class="following-mark">記</p>

	<table>
		<tr>
			<th>代表取締役</th>
			<td>須藤　功平</td>
		</tr>
		<tr>
			<th>取締役</th>
			<td>池添　浩之</td>
		</tr>
	</table>
</div>

<p>なお、前代表取締役　南　慎一郎は引続きクリアコードの一員として社業発展に努めてまいります。</p>

<p class="afterpiece">以上</p>
